body{
color: black;
background:lightpink;
}
header{
border-bottom: solid 2px lavender ;
padding: 20px;
font-size: 32px;
color: lavender;
}
section {
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto